body, html
  line-height: 1
  font-weight: 200
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  background-color: #143A52

body
  overflow:scroll
  overflow-x:hidden


.container
  display: flex
  flex-wrap: wrap


.box
  width:100%






.footer
  background-color: pink
  height: 50px

